.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 12px;
  background: fixed;
  background-position: center;
  background-size: cover;
  background-image: none;
}